<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paygcc" translate="label comment" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayGCC Payment Gateway</label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                <field id="version_info" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>PL\Paygcc\Model\Source\ModuleVersion</frontend_model>
                </field>
                <group id="paygcc_apicheckout" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Checkout (Credit Card)</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_apicheckout/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/paygcc_apicheckout/title</config_path>
                    </field>
                    <field id="company_code" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Company Code</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paygcc_apicheckout/company_code</config_path>
                    </field>
                    <field id="payment_type" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Type</label>
                        <source_model>PL\Paygcc\Model\Source\PaymentType</source_model>
                        <config_path>payment/paygcc_apicheckout/payment_type</config_path>
                    </field>
                    <field id="order_prefix" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Prefix</label>
                        <config_path>payment/paygcc_apicheckout/order_prefix</config_path>
                    </field>
                    <field id="ssl_enabled" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>SSL Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_apicheckout/ssl_enabled</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_apicheckout/debug</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/paygcc_apicheckout/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/paygcc_apicheckout/specificcountry</config_path>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/paygcc_apicheckout/sort_order</config_path>
                    </field>
                </group>
                <group id="paygcc_benefit" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit Checkout (Debit Card)</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefit/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/paygcc_benefit/title</config_path>
                    </field>
                    <field id="company_code" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Company Code</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paygcc_benefit/company_code</config_path>
                    </field>
                    <field id="order_prefix" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Prefix</label>
                        <config_path>payment/paygcc_benefit/order_prefix</config_path>
                    </field>
                    <field id="ssl_enabled" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>SSL Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefit/ssl_enabled</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefit/debug</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/paygcc_benefit/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/paygcc_benefit/specificcountry</config_path>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/paygcc_benefit/sort_order</config_path>
                    </field>
                </group>

                <group id="paygcc_benefitpay" translate="label" type="text" sortOrder="53" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BenefitPay (Scan to Pay)</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefitpay/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/paygcc_benefitpay/title</config_path>
                    </field>
                    <field id="company_code" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Company Code</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paygcc_benefitpay/company_code</config_path>
                    </field>
                    <field id="order_prefix" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Prefix</label>
                        <config_path>payment/paygcc_benefitpay/order_prefix</config_path>
                    </field>
                    <field id="ssl_enabled" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>SSL Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefitpay/ssl_enabled</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paygcc_benefitpay/debug</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/paygcc_benefitpay/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/paygcc_benefitpay/specificcountry</config_path>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/paygcc_benefitpay/sort_order</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
